body{
  background-color: black;
}
 
.container{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
 }


.image-container{
  width: fit-content;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  gap: 20px;
  padding: 100px;
  overflow-x:scroll;
}

.carousel__images {
  max-width: 100%;
}

.arrow-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}